.header-batoi{
    .btn-red{        
        background-color: #EF4444;
        width: 100%;
        a{
            text-decoration: none;
            color: white;
        }
    }
    :hover{
        background-color: white!important;
        a{
            background-color: white!important;
            color: #181818!important;
            transition: all 2s;
        }
        transition: all 2s;
    }
}

  